.app-container {
  background-color: #f9f9f9;
  min-height: 100vh;
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.section-title {
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.movie-card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: 22rem;
  object-fit: cover;
}

.movie-card .card-body {
  background: #fff;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  max-width: 900px;
  margin: auto;
}

.search-bar-container input,
.search-bar-container select {
  flex: 1;
  max-width: 350px;
}

.search-bar-container button {
  min-width: 100px;
}
